<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525309024285-9gqicm7avg3guo43db9t3fo4pir4b9t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525309024285-9gqicm7avg3guo43db9t3fo4pir4b9t8</string>
	<key>API_KEY</key>
	<string>AIzaSyBjlF7yLt06QcQlSTMbSoN16zKXSRriX-c</string>
	<key>GCM_SENDER_ID</key>
	<string>525309024285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-h4db</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-h4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525309024285:ios:5d1936960b5bc407f34ef4</string>
</dict>
</plist>